header {
  background-color: #f1f1f1;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
}
nav ul li:hover {
  transform: scale(1.2);
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

footer {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  padding: 0;
}

.color-0 {
  background-color: #a8e1ff;
  color: #571e00;
}

.color-1 {
  background-color: #98dbff;
  color: #672400;
}

.color-2 {
  background-color: #89d6ff;
  color: #762900;
}

.color-3 {
  background-color: #7ad1ff;
  color: #852e00;
}

.color-4 {
  background-color: #6bcbff;
  color: #943400;
}

.color-5 {
  background-color: #5bc6ff;
  color: #a43900;
}

.color-6 {
  background-color: #4cc1ff;
  color: #b33e00;
}

.color-7 {
  background-color: #3dbcff;
  color: #c24300;
}

.color-8 {
  background-color: #2db6ff;
  color: #d24900;
}

aside {
  background-color: #5f5f5f;
  padding: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  box-shadow: 0 0 10px black;
}
@media screen and (max-width: 467px) {
  aside {
    background-color: #528cee;
    padding: 20px;
    position: static;
    right: 20px;
    top: 20px;
    position: static;
  }
}

aside ul {
  display: flex;
  flex-direction: column;
  list-style-type: circle;
}
aside ul a {
  color: white;
  text-decoration: none;
}
aside ul li:hover {
  transform: scale(1.09);
}

@funt;
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dbf2ff;
}

#services {
  position: relative;
  padding-bottom: 10px;
}

h1,
p {
  margin: 15px;
}

main {
  margin: 2.5%;
  width: 95%;
}

section {
  margin: 20px 0;
}

ul {
  font-size: 1.2em;
}

h1 {
  font-size: 2.5em;
  padding-top: 10px;
}

p {
  font-size: 1.5em;
  line-height: 1.5em;
  padding-bottom: 15px;
}

form {
  margin-top: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

label {
  font-size: 1em;
  margin-right: 10px;
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #ffd0b7;
  color: #002f48;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  padding-bottom: 20px;
}

img {
  width: 100%;
}

.color-0 {
  background-color: #a8e1ff;
  color: #571e00;
}

.color-1 {
  background-color: #98dbff;
  color: #672400;
}

.color-2 {
  background-color: #89d6ff;
  color: #762900;
}

.color-3 {
  background-color: #7ad1ff;
  color: #852e00;
}

.color-4 {
  background-color: #6bcbff;
  color: #943400;
}

.color-5 {
  background-color: #5bc6ff;
  color: #a43900;
}

.color-6 {
  background-color: #4cc1ff;
  color: #b33e00;
}

.color-7 {
  background-color: #3dbcff;
  color: #c24300;
}

.color-8 {
  background-color: #2db6ff;
  color: #d24900;
}

aside {
  background-color: #5f5f5f;
  padding: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  box-shadow: 0 0 10px black;
}
@media screen and (max-width: 467px) {
  aside {
    background-color: #528cee;
    padding: 20px;
    position: static;
    right: 20px;
    top: 20px;
    position: static;
  }
}

aside ul {
  display: flex;
  flex-direction: column;
  list-style-type: circle;
}
aside ul a {
  color: white;
  text-decoration: none;
}
aside ul li:hover {
  transform: scale(1.09);
}

@funt;/*# sourceMappingURL=style.css.map */